<launch>
  <!-- Modify at runtime >>>>>>>>>>>  -->
  <arg name="out_dir" default="/home/airlab/data/SQH-tests/calibration/calibration_2023_03_21" />
  <arg name="flight_name" default="calib0" />
  <!-- <<<<<<<<<<< -->

  <arg name="out_vid_prefix" default="nv2gst_camera" />
  <arg name="out_sensors_prefix" default="sensors" />


  <!-- Logging image to an mp4. -->
  <node name="nv2gst0" pkg="nvidia_to_ros" type="nv2gst" output="screen">
    <param name="topic" value="/nv_image0" />
    <param name="filename" value="$(arg out_dir)/$(arg out_vid_prefix)_$(arg flight_name).mp4" />
  </node>


  <!-- Logging all the other sensors -->
  <node name="record" pkg="rosbag" type="record" args="/imu/data --output-name=$(arg out_dir)/$(arg out_sensors_prefix)_$(arg flight_name).bag" output="screen" required="true">
  </node>


</launch>